.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;

  &--left {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 25px;
    @mixin mediumScreen {
      width: 50%;
    }
  }
  &--right {
    width: 50%;
    text-align: left;
    margin: 15px 0;
    padding: 15px 25px;
    @mixin mediumScreen {
      width: 50%;
    }
  }

  &--third {
    width: 100%;
    display: block;
    margin: 0 auto;

    @mixin XLScreen {
      display: inline-block;
      width: 45%;
      margin-left: 37px;
    }

    @mixin fullScreen {
      display: inline-block;
      width: 30%;
    }

    img {
      display: block;
      max-width: 250px;
      margin: 15px auto;

      @mixin smallScreen {
        max-width: 350px;
      }
      @mixin mediumScreen {
        max-width: 60%;
      }

      @mixin largeScreen {
        max-width: 500px;
        width: 100%;
      }

      @mixin fullScreen {
        min-width: 400px;
      }
    }
  }
}
