.jumbotron {
  background-color: $mainBlue;
  color: #FFF;
  padding: 150px 100px;
  @mixin mediumScreen {
    padding: 250px 100px;
  }
  i {
    margin-top: 3px;
    padding: 2.5px;
    font-size: 1.75rem;
  }
  a {
    text-decoration: none;
    color: #FFF;
    &:hover {
      color: $mainYellow;
    }
  }
}
