.container .primary-nav {
  background-color: rgba($mainBlue, 1);
  z-index: 10;
}

.primary-nav {
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  width: 100%; 
  li {
    display: none;
    @mixin mediumScreen {
      display: inline;
      float: left;
      margin-right: 25px;
      a {
        display: block;
      }
    }
  }
  #icon {
    position: absolute;
    right: 0;
    display: block;
    font-size: 1.25rem;
    margin-right: 25px;
    @mixin mediumScreen {
      display: none;
    }
  }

  @mixin mediumScreen {
    padding-top: 12px;
  }

  &__links { /* ul element */
    margin: 0;
    padding: 0;
    float: right;
  }

  &__logo {
    padding-left: 25px;
    padding-top: 5px;
    float: left;
  }

  &__links, &__logo {
    a {
      color: #FFF;
      text-decoration: none;
      list-style-type: none;
      padding: 5px 8px;
      font-size: 1.2rem;
      &:hover, &:focus {
        color: $mainYellow;
      }
    }
  }
}
