.container .primary-nav {
  background-color: rgba($mainBlue, 1);
  z-index: 1100;
}

.primary-nav {
  position: fixed;
  padding-top: 10px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  @mixin mediumScreen {
    padding-top: 0;
  }

  &__links {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      padding-right: 7px;
      float: right;
      @mixin mediumScreen {
        padding-right: 20px;
        display: block;
      }
    }
    li:last-child {
      padding-right: 0;
      @mixin mediumScreen {
        padding-right: 20px;
      }
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    padding-left: 15px;
  }

  &__links, &__logo {
    a {
      color: #FFF;
      text-decoration: none;
      display: block;
      padding: 5px 8px;
      font-size: 1.2rem;
      &:hover, &:focus {
        color: $mainYellow;
      }
      @mixin mediumScreen {
        padding: 12px 0;
      }
    }
  }
}
