body {
  font-family: 'Montserrat', sans-serif;
  background-color: $mainBlue;
  margin: 0;
  min-width: 410px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid $lightBlue;
}

* {
  box-sizing: border-box;
}
